<div class="container">
    <div class="text-center border mb-5 shadow rounded">
      <h1>Contact</h1>
      <p>
        I can be reached out following email:
        <b><a href="mailto:md.enayet.hossain329@gmail.com" class="email-link">md.enayet.hossain329@gmail.com</a></b>
      </p>
      <p>Feel free to connect with any of the following platforms:</p>
    </div>
  
    <div class="list-group shadow">
      <a
        href="https://www.linkedin.com/in/md-enayet-hossain-3aa006287/"
        target="_blank"
        class="list-group-item list-group-item-action d-flex gap-3"
      >
        <img src="assets/linkdin.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" />
        <h3 class="mb-0">LinkedIn</h3>
      </a>
  
      <a
        href="https://wa.me/8801568411565"
        target="_blank"
        class="list-group-item list-group-item-action d-flex gap-3"
      >
        <img src="assets/whatsapp.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" />
        <h3 class="mb-0">WhatsApp</h3>
      </a>
      <a
        href="https://github.com/enayet329"
        target="_blank"
        class="list-group-item list-group-item-action d-flex gap-3"
      >
        <img src="assets/github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" />
        <h3 class="mb-0">GitHub</h3>
      </a>
    </div>
  </div>
  